<!DOCTYPE html>
<html lang="en">
  <head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Connect with SoundCloud</title>
    <script type="text/javascript">
        window.onload = function(){
            console.log('startCB. window.opener='+window.opener);
            setTimeout(window.opener.SC.connectCallback, 1)
            console.log('endCB');
        }
    </script>
  </head>
  <body>
    <b style="width: 100%; text-align: center;">This popup should automatically close in a few seconds</b>
  </body>
</html>
