<%
    c_id = 'cd521b6a922f4f24f8a6214259923770'
    r_uri = 'http://127.0.0.1/authenticate/callback'
    #r_uri = 'http://127.0.0.1/'
    
    btn_url="https://soundcloud.com/connect?client_id=#{c_id}&redirect_uri=#{r_uri}&response_type=code_and_token&scope=non-expiring&display=popup'" 
   
    #soundcloudxperiment.herokuapp.com
%>
<% content_for :extra_js do %>    
    <%= javascript_include_tag 'index' %>
<% end %>

<% content_for :css do %>
    <%= stylesheet_link_tag 'index' %>
<% end %>

<div id="mainView">
   
</div>

<script id="header-template" type="text/x-handlebars-template">
   <a id="menuButton" data-role="button" data-icon="home">Menu</a>
   <a id="disconnectBtn" class="button scBackground" data-role="button">Disconnect</a>
</script>

<script id="index-template" type="text/x-handlebars-template">
  {{#if isConnected}}
     <div id="user-data">
         
     </div>
     <div id="menu">
        <ul class="listView" id="playlists-entries" data-role="listview" data-inset="true">
           <li><a href="#playlists/">Playlists</a></li>
           <li><a href="#search/">Search</a></li>
        </ul>
     </div>
  {{else}}
      <a id="connectBtn" class="button scBackground" data-role="button">Connect!</a>
  {{/if}}
</script>

<script id="search-template" type="text/x-handlebars-template">
    <input type="search" id="searchInput" value="" />
    <br/>
    <ul id="searchResults">
    </ul>
</script>

<script id="track-template" type="text/x-handlebars-template">
    <a class="track-entry" data-role="button"
      {{#if this.selected }}
         data-theme="b"
      {{/if}}
    >
       <div class="play-button">
           {{#if this.streamable}}
               {{#if playing}}
                  <div class="ui-icon-pause"></div>
               {{else}}
                  <div class="ui-icon-play"></div>
               {{/if}}
           {{/if}}
       </div>
       <div class="track-details">
          <div class="trackTitle">{{this.title}}</div>
          <div class="artistName">{{this.user.username}}</div>
       </div>
    </a>
</script>

<script id="searchFooter-template" type="text/x-handlebars-template">
   <div data-role="footer" class="ui-bar" data-position='fixed'>
      <a id="tagTrack" data-role="button" data-icon="gear">Tag</a>
      <a id="addTrack" data-role="button" data-icon="plus">Add to Playlist</a>
   </div>
</script>

<script id="trackTags-template" type="text/x-handlebars-template">
   <input placeholder="New tag..." id="newTag" value="" />
      {{#each tags}}
         <a class="tagEntry" data-tag="{{this}}" data-role="button" data-icon="delete" data-iconpos="right">{{this}}</a>
      {{/each}}
</script>

<script id="addToPlaylist-template" type="text/x-handlebars-template">
   <input placeholder="New playlist..." id="newPlaylist" value="" />
      {{#each playlists}}
         <a class="playlistEntry" data-playlist="{{this.id}}" data-role="button" >{{this.title}}</a>
      {{/each}}
</script>

<!-- TODO these two views are refactorable.. -->
<script id="playlists-template" type="text/x-handlebars-template">
   <h1>Playlists</h1>
   <input placeholder="New playlist..." id="newPlaylist" value="" />
      {{#each playlists}}
         <a class="playlistEntry" data-playlist="{{this.id}}" data-role="button" >{{this.title}}</a>
      {{/each}}   
</script>

<script id="playlist-template" type="text/x-handlebars-template">
      <h1>PlaylistTitle</h1>
      <div id="playlistTracks">
      </div>
</script>
